.task-container{
    width: 100%;
    height: 100%;
    border: 1px solid #f0e9e9;
    padding: 10px;
    border-color: #edf2f9;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    margin-bottom: 1.5rem;
}

.task-list-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
    border-radius: 0.25rem;
}
