.task-list {
    float: left;
    padding: 2px;
    
    > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        
        >li{
            font-weight: 400;
            padding: 2px;
        }
    }
}